.article-textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    resize: vertical;
    height: 300px;
}


.modal {
    width: 600px;
    max-width: 120%;
    max-height: 160vh;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow-y: auto;
}
